@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 50px
    .reasons
        &_block
            align-items: flex-start
    .mobile
        padding-top: 20px
        padding-bottom: 15px
        &_block
            width: 300px
    .choice
        padding-bottom: 40px
    .footer
        &_wrapper > div 
            &:first-child
                width: 25%
            &:nth-child(2)
                width: 45%
            &:nth-child(3)
                width: 30%
